/* Colour Palette  - changed the colours a bit for better reading/look*/
:root {
  --kaitoke-green: #003e29;
  --como: #d5e7b8;
  --sandal: #885607;
  --walnut: #633e31;
  --grey: #8da290;
}

/* Styles: */

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--como);
  color: var(--sandal);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  color: var(--walnut);
  width: 65%;
  position: relative;
  
}

#header {
  display: flex;
  position: sticky;
  margin: 0;
  padding: 10px;
  top: 0%;
  right: 0%;
  left: 0%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #93d293;
  z-index: 5;
  border-radius: 21px;
  box-shadow: 5px 5px 5px grey;
}

#langbutton-en {
  background-color: #93d293;
  border: none;
  color: var(--kaitoke-green);
  font-size: 11px;  
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 7px;
  margin: 5px;
  border-radius: 25px;
  transition: 0.3s;
  position: absolute;
  right: 8%;
  top: 1%;
}


button:hover {
  background-color: var(--sandal);
  box-shadow: 10px 10px 20px grey;
  color: #d5e7b8;
}

#langbutton-en:hover {
  background-color: var(--sandal);
  box-shadow: 10px 10px 20px grey;
  color: #d5e7b8;
}

#langbutton-fr:hover {
  background-color: var(--sandal);
  box-shadow: 10px 10px 20px grey;
  color: #d5e7b8;
}

#langbutton-fr {
  background-color: #93d293;
  border: none;
  color: var(--kaitoke-green);
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 7px;
  margin: 5px;
  border-radius: 25px;
  transition: 0.3s;
  position: absolute;
  right: 0%;
  top: 1%;
}

footer {
  position: relative;
  bottom: 0;
}

.sites {
  color: var(--walnut);
}

#projectdesc, #projectdesc1, footer{
  width: 65%;
  padding-top: 1.5rem;
  position: relative;
  margin: 0;

  
}


input[type="submit"] {
  position: relative;
  width: 8.75%;
  height: 1.7rem;
  border-radius: 5px;
}

button,
input[type="submit"] {
  background-color: var(--grey);
  border: none;
  color: #93d293);
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 1px;
  margin: auto;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 7.75%;
  height: 1.5rem;
}

input[type="number"] {
  position: relative;
  background-color: var(--como);
  color: var(--kaitoke-green);
  width: 20%;
  height: 1.7rem;
  border-radius: 5px;
}

a:link {
  color: var(--walnut);
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}


a:visited {
  color: var(--sandal);
  background-color: transparent;
}

a:hover {
  color: var(--sandal);
  background-color: transparent;

}

a:active {
  color: var(--walnut);
  background-color: transparent;
}
